html {
    width: 100%; 
}


body {
   
    background-color:  #e6e6e6;
    font-family: 'Roboto', sans-serif;
    
}



   @font-face {
  font-family: "Bebas Neue";
src: url("font/bebasneue.woff");
src: url("Font/bebasneue.woff2");
src: url("Font/bebasneue.otf");
}

/* PAGE ACCUEIL */
.application {
    
    width: 320px; 
    height: 568px; ; 
    margin: 0 auto; 
     
  
}

/* LIGNES */ 

svg { 
    position: absolute; 
    z-index: 100; 

    width: 320px; 
    height: 568px; ; 
    margin: 0 auto;
   
}

#line1{
 
margin-top: -160px;
margin-left: -10px;

}

#line2{
margin-left: -45px;
margin-top: 80px;

    
}

/* Textes*/ 

#lemagasin {
font-family: 'Bebas Neue',   sans-serif;
font-size: 50px;
margin-left: 20px;
width: auto; 
margin-top: -40px; 
     -webkit-animation: fadeUpIn 3s; /* Safari and Chrome */
    

}

#lemag { 
padding-top: 8px;
    padding-left: -20px; 

}

#propose {
font-size: 25px;
margin-left: 75px;
     margin-top: -58px; 
      -webkit-animation: fadeUpIn 5s; /* Safari and Chrome */


}

#dapres {
font-size: 20px;
margin-left: 55px;
line-height: 1px;
font-family: 'Bebas Neue', sans-serif;
width: auto;
margin-top: 388px;
      -webkit-animation: fadeUpIn 8s; /* Safari and Chrome */
    

}

#long{
font-family: 'Bebas Neue', sans-serif;
font-size: 50px;
line-height: 1px;
margin-left: 40px;
width: auto;
margin-top: 33px;
      -webkit-animation: fadeUpIn 3s; /* Safari and Chrome */

}



#imagecentre{
   position: relative; 
    height: auto;
 
}



#charbon {
    position: absolute; 
    left: 50%;
    margin-left: -30%;
    margin-top: 10px; 
    z-index:1;
}

#coallinetitre {
    
    position:absolute;
    font-family: 'Bebas Neue',   sans-serif;
    font-size: 40px;
    color: white;
    top:50px; 
    width:200px; 
    z-index:2;
    left: 50%; 
    margin-left: -30%; 
    text-align: center;
    line-height: 42px; 
    
  -webkit-animation: fadeUpIn 10s; /* Safari and Chrome */
   
}


/* FIN PAGE ACCUEIL */

/* PAGE REGLES */

#charbonregle {
    margin-left: 50px; 
    margin-top: 25px; 
      
}

#bienvenue {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    margin-left: 10;
    line-height: 14px; 
}
#regle {
    text-align: justify; 
    margin: 10 5 10 5;
    font-size: 14px; 
}
#conteneurtrait {
    margin: 0; 
    width: 100px; 
    height: 3px; 
    position:relative;
}

.trait{
  border-bottom:3px ridge ;
  top:  10px;
  color: black;
  position: absolute;
  -webkit-animation: anim 2s 500ms  normal ease-out forwards;
  animation: anim 2s 500ms  normal ease-out forwards;
}

.trait2{
  border-bottom:3px ridge ;
  top:  5px;
  color: black;
    right: -220px; 
  position: absolute;
  -webkit-animation: anim 2s 500ms  normal ease-out forwards;
  animation: anim 2s 500ms  normal ease-out forwards;
}
 
 
@-webkit-keyframes anim{
    0% {width: 0px;}
    100% {width: 100px;}
}
 
@keyframes anim{
    0% {width: 0px;}
    100% {width: 100px;}
}

/* FIN PAGE REGLES */

/* PAGE INDICATION : Avancer sur la ligne  */

#avancez {
    font-family: 'Oswald',   sans-serif; 
    font-size: 60px; 
    text-align: center;
    width: 250px; 
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    position: fixed; 
    font-family: 'Bebas Neue'; 
    margin-left: 20px; 
   
    
}

@keyframes slidein {
  from {
    margin-top: 100%;
    height: 50%; 
  
    
  }

  to {
    margin-top: 0%;
    height: 100%; 
     }
}




/* FIN PAGE INDICATION : Avancer sur la ligne  */
