html {
    width: 320px;
    height: 568px;
    overflow: hidden;
}

body {
    background-color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: "Bebas";
    src: url("../font/bebasneue.woff");
    src: url("../font/bebasneue.woff2");
    src: url("../font/bebasneue.otf");
    src: url("../font/bebasneue.ttf");
}

/* PAGE ACCUEIL */
.application {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* LIGNES */

svg {
    position: absolute;
    z-index: 100;
    width: 320px;
    height: 568px;;
    margin: 0 auto;
}

#line1 {
    margin-top: -160px;
    margin-left: -10px;
}

#line2 {
    margin-left: -45px;
    margin-top: 80px;
}

/* Textes*/

#lemagasin {
    font-family: 'Bebas', sans-serif;
    font-size: 50px;
    margin-left: 20px;
    width: auto;
    margin-top: -40px;
    -webkit-animation: fadeUpIn 3s; /* Safari and Chrome */
}

#lemag {
    padding-top: 8px;
    padding-left: -20px;
}

#propose {
    font-size: 25px;
    margin-left: 75px;
    margin-top: -58px;
    -webkit-animation: fadeUpIn 5s; /* Safari and Chrome */
}

#dapres {
    font-size: 20px;
    margin-left: 55px;
    line-height: 1px;
    font-family: 'Bebas', sans-serif;
    width: auto;
    margin-top: 388px;
    -webkit-animation: fadeUpIn 8s; /* Safari and Chrome */
}

#long {
    font-family: 'Bebas', sans-serif;
    font-size: 50px;
    line-height: 1px;
    margin-left: 40px;
    width: auto;
    margin-top: 33px;
    -webkit-animation: fadeUpIn 3s; /* Safari and Chrome */

}

#imagecentre {
    position: relative;
    height: auto;

}

#charbon {
    position: absolute;
    left: 50%;
    margin-left: -40%;
    margin-top: 10px;
    z-index: 1;
}

#coallinetitre {

    position: absolute;
    font-family: 'Bebas', sans-serif;
    font-size: 65px;
    color: white;
    top: 36px;
    width: 200px;
    z-index: 2;
    left: 50%;
    margin-left: -35%;
    text-align: center;
    line-height: 42px;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    -webkit-animation: fadeUpIn 10s;
    line-height: 90%;

}

/* FIN PAGE ACCUEIL */

/* PAGE REGLES */

#charbonregle {
    margin-left: 30px;
    margin-top: 10px;

}

#bienvenue {
    font-family: 'Bebas', sans-serif;
    font-size: 40px;
    margin-left: 10px;
    line-height: 14px;
    text-align: center;
}

#regle {
    text-align: justify;
    margin: 10px 5px 10px 5px;
    font-size: 14px;
}

#conteneurtrait {
    margin: 0;
    width: 100px;
    height: 3px;
    position: relative;
}

.trait {
    border-bottom: 3px ridge;
    top: 10px;
    color: black;
    position: absolute;
    -webkit-animation: anim 2s 500ms normal ease-out forwards;
    animation: anim 2s 500ms normal ease-out forwards;
}

.trait2 {
    border-bottom: 3px ridge;
    top: 350px;
    color: black;
<<<<<<< HEAD
    left: 220px;
    position: relative;
    -webkit-animation: anim2 2s 500ms normal ease-out forwards;
    animation: anim2 2s 500ms normal ease-out forwards;
=======
    left: 212px;
    position: absolute;
    -webkit-animation: anim 2s 500ms normal ease-out forwards;
    animation: anim 2s 500ms normal ease-out forwards;
>>>>>>> origin/master
}

@-webkit-keyframes anim {
    0% {
        width: 0px;
    }
    100% {
        width: 100px;
    }
}

@keyframes anim2 {
    100% {
        width: 100px;
    }
    0% {
        width:0px;
    }
}

/* FIN PAGE REGLES */

/* PAGE INDICATION : Avancer sur la ligne  */

#avancez {
    font-family: 'Bebas', sans-serif;
    font-size: 60px;
    text-align: center;
    width: 250px;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    position: fixed;
    margin-left: 20px;
}

@keyframes slidein {
    from {
        margin-top: 100%;
        height: 50%;

    }
    to {
        margin-top: 0%;
        height: 100%;
    }
}

/* FIN PAGE INDICATION : Avancer sur la ligne  */
/* PAGE AFFICHAGE CHARBON */

#charbon {
    margin-top: 8%;
}

video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

/* FIN PAGE AFFICHAGE CHARBON */

/* PAGE PARTAGE */

#charbonpartage {
    margin-left: 40px;
    margin-top: 25px;
    margin-bottom: 25px;

}

#partagez {
    font-family: 'Bebas', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 10px;
    margin-bottom: 12px;
}

.trait3 {
    border-bottom: 3px ridge;
    top: auto;
    color: black;
    right: -220px;
    position: absolute;
    -webkit-animation: anim 2s 500ms normal ease-out forwards;
    animation: anim 2s 500ms normal ease-out forwards;
}

#textepartagez {
    text-align: justify;
    font-size: 14px;
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

#wrapper {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 70px auto;
    width: 120px;
}

input[type="checkbox"] {
    display: none;
}

.checkbox:checked + .label {
    background: #000000;
    color: #ffffff;
}

.checkbox:checked ~ .social {
    opacity: 1;
    transform: scale(1) translateY(-90px);
}

.label {
    background: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
    border-radius: 10%;
    color: #000000;
}

.social {
    transform-origin: 50% 0%;
    transform: scale(0) translateY(-190px);
    opacity: 0;
    transition: .5s;
}

ul {
    position: relative;
    left: 0;
    right: 0;
    margin: -5px auto 0;
    color: #fff;
    height: 46px;
    width: 120px;
    background: #000000;
    padding: 0;
    list-style: none;
}

ul li {
    font-size: 20px;
    cursor: pointer;
    width: 60px;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    float: left;
    display: block;
    height: 22px;
}

ul li:hover {
    color: rgba(0, 0, 0, .5);
}

ul:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 46px auto;
    height: 0;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #000000;
}

li[class*="twitter"] {
    background: #000000;
    padding: 12px 0;
}

button {
    visibility: hidden;
}

.sensors {
    position: absolute;
    height: 0;
    color: #BBB;
    bottom: 20px;
    right: 4px;
}

.sensors span {
    font-family: monospace;
    text-transform: lowercase;
    cursor: pointer;
}

.sensors span.sensor_1,
.sensors span.sensor_2,
.sensors span.sensor_3,
.sensors span.projector {
    background-color: #666;
    color: #e6e6e6;
}